<clr-datagrid>
  <clr-dg-column>Create date</clr-dg-column>
  <clr-dg-column>State</clr-dg-column>
  <clr-dg-column>Estimate</clr-dg-column>
  <clr-dg-column class='table-td__short'>Title</clr-dg-column>
  <clr-dg-column class='table-td__short'>Description</clr-dg-column>
  <clr-dg-column>Priority</clr-dg-column>

  <clr-dg-row *clrDgItems='let task of tasksTable; let i = index'>
    <clr-dg-action-overflow>
      <button class="action-item" (click)="onDelete(i)">Delete</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{task.create_date | date: 'medium'}}</clr-dg-cell>
    <clr-dg-cell>{{checkStatus(task.state)}}</clr-dg-cell>
    <clr-dg-cell>{{task.estimate}}</clr-dg-cell>
    <clr-dg-cell class='table-td__short'>{{task.title}}</clr-dg-cell>
    <clr-dg-cell class='table-td__short'>{{task.description}}</clr-dg-cell>
    <clr-dg-cell>{{checkPriority(task.priority)}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
    of {{pagination.totalItems}} users
    <clr-dg-pagination #pagination [clrDgPageSize]="8"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
