:host{
  width:90%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  padding: 40px 0px;
}

.btn {
  float: right;
  margin: 0px;
}

input.ng-touched.ng-invalid {
  border-bottom:solid rgba(255, 0, 0, 0.1) 1px
}
